*{
  font-family: Verdana;
  margin: 0;

}

body{
  background-color: rgb(245, 240, 240);
}

.header{
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  background: #000;
  color: #eee;
}

.wrapper{
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  min-height: 800px;
  background: rgb(184, 102, 102);
}
.main-container{
  background: #fff;
}
.menu-section{
  background: rgb(14, 13, 13)
}

.body-section{
  min-height: 600px;
}

.footer-section{
  min-height: 100px;
  background: #000;
  color:whitesmoke;
  display: flex;
  justify-content: center;
}

.admin-section-wrapper{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  background:  rgb(184, 102, 102);
}
.admin-main-container{
   flex-flow: column;
  background:rgb(51, 228, 66);
  margin-top: 100px;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form{
  margin-top: 70px;
  display: flex;
  flex: 1;
  flex-flow: column;
}
.login-form input{
  width: 150px;
  margin: 5px;
  min-width: 150px;
}

.login-form button{
  width: 50px;
  align-content: center;
  margin-left: 130px;

}
.order-stock-wrapper{
  display: flex;
  justify-content: space-between;
}
.customer-order-show{
  margin-top: 50px;
  margin: 20px;
  width: 450px;
  height: 400px;

  /* background: rgb(236, 193, 157) */
}
.current-orders{
  display: flex;
  justify-content: space-between;
  background: rgb(238, 56, 56)
}
.current-order-list-display{
  background: rgb(240, 94, 94);
  display: flex;
  margin: 5px;
  justify-content: space-between;
}
.current-order-list-display li {
  list-style-type: none;
}
.mainlist-display{
  margin: 0%;
  flex-flow: row;
  margin-left: -11%;
}
.database-handler{
  margin-left: 20px;
}
.popup {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  background: rgb(233, 101, 101);
  display: flex;
  position: absolute;
  left: 30%;
  right: 30%;
  top: 25%;
  bottom: 25%;
  margin: auto;
}
.popup_inner label{
  justify-content: space-between;
  margin-top: 30px;
}
.popup_inner input{
  margin-top: 10px;
  margin-bottom: 5px;
}
.table-watch{
  width: 450px;
  height: 500px;
  color: #eee;
  background: rgb(46, 44, 44);
}
.order-table-footer{
  display: flex;
  height: 50px;
  width: 700px;
  margin-left: 20px;
  justify-content: space-between;
}
.order-table-footer-child{
  display: flex;
  width: 700px;
  margin-left: 10px;
  justify-content: space-between;
  height: 30px;
}
.lable-alignment{
  margin-left: 30px;
}
.add-button{

  margin-bottom: 12px;

  margin-right: 70px;
}






